<p>self.class.to_s:</p>
<pre>
    Parent: <%= @parent.inspect %>
    Child: <%= @child.inspect %>
</pre>
<p>Request:</p>
<pre>
    <%= @request.inspect %>
</pre>
<p>Params:</p>
<pre>
    <%= @params.inspect %>
</pre>
<p>Before:</p>
<pre>
    <%= @@before.inspect %>
</pre>
